body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center{
  text-align: center;
}

.add-section {
  display: flex;
  margin-bottom: 20px;
}

.add-section input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.add-section button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
}

.tasks {
  margin-bottom: 20px;
}

.tasks h2 {
  color: #333;
  font-size: 20px;
  margin-top: 0;
}

.tasks ul {
  list-style-type: none;
  padding: 0;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.tasks li:last-child {
  margin-bottom: 0;
}

.tasks li input[type="checkbox"] {
  margin-right: 10px;
}

.tasks li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.tasks li button.edit-btn {
  background-color: #ffc107;
  margin-right: 5px;
}
